/* General para todo el cuerpo */
body {
    font-family: "Green Market", sans-serif; 
    background-color: #ccebff;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin: 0;
}

h2 {
    margin: 0 0 20px 0; 
    text-align: center;
    font-size: 70px;
}


#btn {
    display: flex;
    justify-content: center; 
    width: 100%; 
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px; 
    width: 80%; 
    height: auto;
    padding: 10px 13px;
    border: none;
    border-radius: 8px;
    background-color: #0057af; 
    color: white; 
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #50a6ff;
}

button:active {
    background-color: #003d80;
}


@media (max-width: 768px) {
    h2 {
        font-size: 45px;
    }
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 30px;
    }
    button {
        font-size: 12px;
        padding: 6px 12px;
    }
}
