body {
    font-family: "Green Market";
    background-color: #ccebff;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0; 
    overflow: hidden; 
}

h2 {
    font-size: 60px;
    position: relative; 
    top: 10px; 
    margin: 0; 
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%; 
    height: auto; 
    padding: 20px; 
    box-sizing: border-box; 
}

video { 
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

.boton-container {
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    box-sizing: border-box; 
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto; 
    max-width: 300px; 
    padding: 10px 13px; 
    border: none;
    border-radius: 8px;
    background-color: #0057af; 
    color: white;
    font-size: 10px; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {

    h2{
        font-size: 45px;
    }
    button {
        font-size: 8px; 
        padding: 8px 16px; 
    }
}

@media (max-width: 480px) {
    h2{
        font-size: 30px;
    }
    button {
        font-size: 6px; 
        padding: 6px 12px; 
    }
}


button:hover {
    background-color: #50a6ff; 
}

button:active {
    background-color: #003d80; 
}
